body,html, .container {
    height: 100%;
}

.container {
    width: 100%;
    padding: 10px 20px;
}


.container .row,
.container .row > div {
height: 100%;
}

.preview {
height: 100%;
overflow: auto;
}

.editor {
width: 100%;
height: 100%;
}